* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
nav {
  height: 80px;
}

.custom-gradient {
  background: linear-gradient(90deg, #c90dfd 0%, #6610f2 100%);
}

#map {
  height: 350px;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}


.footer {
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #ffffffcc;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer .container {
  max-width: 900px;
}

.footer p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

