* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header,
nav {
  height: 80px;
}

/* Navbar moderna com gradiente */
.custom-gradient {
  background: linear-gradient(90deg, #c90dfd 0%, #6610f2 100%);
}

#product-details {
  width: 100%;
}

#product-details h1 {
  text-align: center;
  margin: 30px 10px;
}

.product-details-container {
  width: 100%;
  height: 350px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-details-container .description {
  width: 30%;
}

.product-details-container p {
  color: #666;
  font-size: 0.95rem;
  margin: 10px 0;
  flex-grow: 1;
}

.product-details-container .price {
  font-weight: bold;
  color: #6610f2;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.cartBtn {
  font-size: 25px;
  color: #ccccff;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease;
}

.cartBtn:hover {
  color: #6610f2;
  transform: scale(1.2);
}

.btn-buy,
.btn{
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-left: 30px;
  padding: 10px 0 !important;
  background: linear-gradient(90deg, #6610f2 0%, #c90dfd 100%);
  color: white !important;
  font-weight: 500;
  border: none;
  border-radius: 30px !important;
  text-align: center;
  transition: all 0.3s ease !important;
}

.btn-buy:hover,
.btn:hover {
  background: linear-gradient(90deg, #c90dfd 0%, #6610f2 100%);
  transform: scale(1.05);
}

.qrcode {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
